.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  background: rgba(0,0,0,0.1);
  padding: 0.25em;
  height: 500px;
}

.bottom {
  display: inline-flex;
  padding: 0.25em;
  border: thin solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
}

.spacer {
  flex: 1;
}
